<%= erb :header_partial %>

<div class="row">
  <div class="col-lg-12">
    <h1>Orgs <small>Administration</small></h1>
    <ol class="breadcrumb">
      <li><a href="/admin/settings"><i class="fa fa-cog"></i> Vulnreport Settings</a></li>
      <li><a href="/admin/orgs"><i class="fa fa-group"></i> Orgs</a></li>
      <li class="active"><i class="fa fa-group"></i> New Org</li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <form class="form-horizontal" role="form" method="POST" action="/admin/orgs/new">
      <%= csrf_tag %>

      <div class="form-group">
        <label for="orgName" class="col-sm-2 control-label">Name: </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="orgName" name="orgName" placeholder="Name">
        </div>
        <div class="col-sm-1" style="text-align:left; margin-left:-20px; padding-top:5px;"></div>
      </div>

      <div class="form-group">
        <label for="isCon" class="col-sm-2 control-label">
          Contractor Org:
        </label>
        <div class="col-sm-2">
          <input type="checkbox" name="isCon" rel="switch" data-size="small" data-on-text="Yes" data-off-text="No">
        </div>
      </div>

      <div class="form-group">
        <label for="isSuper" class="col-sm-2 control-label">
          Super Org:
        </label>
        <div class="col-sm-2">
          <input type="checkbox" name="isSuper" rel="switch" data-size="small" data-on-text="Yes" data-on-color="danger" data-off-text="No">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-2" style="text-align:center;">
          <button type="submit" class="btn btn-primary" id="save" name="save" value="save">Create Org</button>
        </div>
        <div class="col-sm-3"></div>
      </div>

    </form>
  </div>
</div>

<%= erb :footer_partial %>