</div><!-- /#page-wrapper -->
	<div id="footer" style="margin-bottom:40px; margin-top:30px; text-align:center; color:#C0C0C0;">
		<%=@VRFOOTER%>
    </div>
    </div><!-- /#wrapper -->
  </body>
</html>