<%= erb :header_partial %>

<div class="row">
  <div class="col-lg-12">
    <h1>Vulnreport <small><span style="color:#B40404;"><i class="fa fa-exclamation"></i> UNAUTHORIZED</span></small></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active"><i class="fa fa-exclamation"></i> Unauthorized</li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-1" style="text-align:center;"></div>
  <div class="col-lg-10" style="text-align:center;">
    <p>Your user account is not authorized to view this page. If you believe this is in error, please contact your team's Vulnreport Admin.</p>
  </div>
  <div class="col-lg-1" style="text-align:center;"></div>
</div>


<%= erb :footer_partial %>